body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: black;
}
.login-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px; /* Add padding for smaller screens */
}